* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar start */
nav {
    background-color: lightblue;
    padding: 20px 10px 20px 10px;
}

.nav-bar {
    background-color: rgb(214, 182, 39);
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.logo, .login {
    padding: 10px;
    flex-grow: 1;
    border: 1px dashed black;
}

.nav-links {
    padding: 10px;
    flex-grow: 3;
    border: 1px dashed black;
}

/* header  start */

header {
    background-color: blue;
    padding: 45px 10px 45px 10px;
}

header div {
    background-color: rgb(211, 61, 154);
    height: 300px;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    border: 1px dashed black;
}

/* main start */

.white-section {
    padding: 45px 10px 45px 10px;
}

.grey-section {
    background-color: lightgray;
    padding: 45px 10px 45px 10px;
}

.container{
    height: 400px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.img {
    align-items: stretch;
    flex-grow: 2;
    background-color: lightblue;
    border: 1px dashed black;
}

.par {
    align-items: stretch;
    flex-grow: 1;
    background-color: pink;
    border: 1px dashed black;
}

.p-download {
    background-color: rgb(28, 128, 19);
    height: 800px;
    max-width: 980px;
    margin: 0 auto;
    border: 1px dashed black;
}

/* footer start */

footer {
    background-color: rgb(65, 65, 65);
    padding: 45px 10px 45px 10px;
}

.footer-container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.top {
    height: 400px;
    display: flex;
    padding: 10px 0px 10px 0px;
}

#first-column {
    background-color: salmon;
    flex-grow: 2;
    border: 1px dashed black;
}

.column {
    background-color: rgb(9, 134, 124);
    flex-grow: 1;
    border: 1px dashed white;
}

.bottom {
    display: flex;
    background-color: rgb(92, 151, 37);
}

.bottom div {
    justify-content: space-between;
    align-items: flex-end;
    background-color: pink;
    padding: 5px 10px 5px 10px;
}



