* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar start */
nav {
    background-color: lightblue;
    padding: 20px 10px 20px 10px;
}

.nav-bar {
    background-color: rgb(214, 182, 39);
    padding: 10px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.logo, .login {
    flex-grow: 1;
}

.nav-links {
    flex-grow: 3;
}

/* header  start */

header {
    background-color: blue;
    padding: 45px 10px 45px 10px;
}

header div {
    background-color: rgb(211, 61, 154);
    height: 300px;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

/* main start */

.white-section {
    padding: 45px 10px 45px 10px;
}

.grey-section {
    background-color: lightgray;
    padding: 45px 10px 45px 10px;
}

.container{
    background-color: orange;
    height: 400px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.img {
    align-items: stretch;
    flex-grow: 2;
    background-color: lightblue;
}

.par {
    align-items: stretch;
    flex-grow: 1;
    background-color: pink;
}

.p-download {
    background-color: rgb(28, 128, 19);
    height: 800px;
    max-width: 980px;
    margin: 0 auto;
}





